*{
    margin:0;
    padding:0;
    box-shadow:border-box;
}
.main{
    height:100Vh;
    display:flex;
    flex:2;
}
/* left  */
.left{
    background-color: lightblue;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hexbtn{
    padding:10px;
    width:100px;
    background-color:blue;
    color:white;
    border-radius:7px;
    border:none;
}
/* right  */
.right{
    background-color:lightcoral;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right div{
    display:flex;
    align-items: center;
}
input,label{
    padding:10px; 
    color:white;
    font-size:22px;
}
